.card-border-radius{
    border-radius: 15px
}

.bg-colo{
    background: #f8f8f8
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #f8f8f8;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #f8f8f8;
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #f5c726;

    /* Chrome 10-25, Safari 5.1-6 */
    background: #f3bd00;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .card-h{
   max-height: 400px;
  }