/* Global styles or external stylesheet */

/* Your component-specific styles */
.ant-box-quiz {
  margin: 12px;
  margin-left: 24px;
  /* display: flex;
  flex-wrap: wrap; */
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.ant-col-quiz {
  flex: 1;
  /* min-width: calc(50% - 12px);
  max-width: calc(50% - 12px); */
  transition: box-shadow 0.3s;
  margin: 6px;
  border-radius: 4px; /* Optional: Add border-radius for a softer look */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.ant-col-quiz:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjusted shadow on hover */
}

.ant-card-bordered {
  border: none;
}

/* Styles for the card content */
.ant-card-body {
  padding: 24px;
}

.ant-card-body h2 {
  margin-bottom: 12px;
}

.ant-card-body p {
  margin-bottom: 8px;
}

/* Add more styles as needed for other components within the cards */

/* Media query for responsiveness */
@media (max-width: 768px) {
  .ant-col {
    min-width: calc(100% - 12px);
    max-width: calc(100% - 12px);
  }
}

.box-container{
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(224, 224, 224, 0.2);
}

